<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div>


		<fieldset>
			<legend>Inserir:</legend>

			<form action="#" th:action="@{/user}" th:object="${userVo}"
				method="post">
				<input type="hidden" th:field="*{id}" />
				<label>Name</label> <input type="text" th:field="*{name}" /> <br />
				<br /> <label>Email</label> <input type="text" th:field="*{email}" />
				<br /> <br />
				<ul>
					<li th:each="ty : ${userVo.userTypes}"><input type="radio"
						th:field="*{selectedUserType}" th:value="${ty}" /> <label
						th:for="${#ids.prev('selectedUserType')}" th:text="${ty}">---</label>
					</li>
				</ul>

				<input type="submit" />
			</form>
		</fieldset>
	</div>

	<div th:unless="${#lists.isEmpty(users)}">

		<h2>Users</h2>

		<table>
			<thead>
				<tr>
					<th>#</th>
					<th>name</th>
					<th>email</th>
					<th>type</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sb : ${users}">
					<td th:text="${{sb.id}}">-</td>
					<td th:text="${sb.name}">-</td>
					<td th:text="${sb.email}">-</td>
					<td th:text="${sb.userType}"></td>
					<td>
						<form th:action="@{/user}" th:method="put">
							<input type="hidden" name="id" th:value="${{sb.id}}" /> 
							<input type="submit" value="edit" />
						</form>

						<form th:action="@{/user}" th:method="delete">
							<input type="hidden" name="id" th:value="${{sb.id}}" /> 
							<input type="submit" value="delete" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
